<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Customers</title>
</head>
<body>
    <a href='@Url.Action("Index", "Ecommerce")'>Dashboard</a>
    <a href='@Url.Action("Products", "Ecommerce", new { page = 1 })'>Products</a>
    <a href='@Url.Action("Orders", "Ecommerce")'>Orders</a>
    <a href='@Url.Action("Customers", "Ecommerce")'>Customers</a>
    <a href='@Url.Action("Logout", "Account")'>Logoff</a>
    <a href='@Url.Action("Register", "Account")'>New Customer</a>
  <table>
    <tr>
        <th>Customer Name</th>
        <th>Created Date</th>
        <th>Remove</th>
    </tr>
    @foreach (var user in @ViewBag.Users)
    {
        <tr>
            <td>@user.FirstName @user.LastName</td>
            <td>@user.CreatedAt</td>
            <td><a href='@Url.Action("Delete", "Account", new {id = @user.Id})'>Remove</a></td>
        </tr> 
    }
  </table>
</body>
</html>